/*Seccion de modo oscuro y claro*/
li{
    display: inline-block;  
}

/*se llama la clase para colocar las propiedades y valores a la clase global del modulo de claro y noche */
.switchDark{
    background-color: #3494b1;
    display: flex;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
}

/*se llama la clase para colocar otro color cuando el usuario pase el cursor*/

.switchDark:hover{
    background-color:#68CEFA;
}

/*se llama la clase global*/
/*se llama un selector span para referirnos al elemento que le vamos a colocar propiedades*/
.switchDark span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    color: #fff;
    background: none;
}

/*se llama la clase y se le coloca un seudoelemento para que actue despues de ese elemento*/
.switchDark::after{
    display: block;
    background: #fffbf5;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 50%;
    transition: all .5s ease;
    box-shadow: 0 0 1.5px 1.5px rgba(0, 0, 0, .5);
    content: "";
}

.switchDark.active{
    background:#F6E217;
}

.switchDark.active:hover{
    background:#F69117;
}
.switchDark.active::after{
    left: unset;
    right: 0;
}
body{
    background: #fff;
    color: #000;
}
body.dark{
    background: #222;
    color: #fff;
}


/*Seccion de la calculadora */

/*centrar la calculadora*/
body{
    margin:0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*se coloca el color de fondo de la calculadora*/

#contenedor_calculadora{
    font-size: 150%;
    background-color: #3494b1;
    padding: 20px;
    border-radius: 10px;
    
}

/*se llama el identificador de la caja de texto*/
#result{
    display:block;
    margin:0 auto;
    border-radius: 10px;
    border:none;
    padding: 10px;
    width: 90px;
    height: 20px;
}

/*Se llama el identificador de operaciones para colocar los elementos de division*/


inpuṭ[type="button"]{
    display:block;
    text-align: center;
    margin: 3px;
    border:none;
    cursor:pointer;
}

/*se llama la clase de color1 para colocar un color naranja*/
.color1{
    background-color: #F69117;
    border:none;
}

/*se llama a la clase color1 para colocar otro color cuando el usuario le de clic le salga otro color*/
.color1:hover{
    background-color: #D50600;
}

/*se llama la clase Diferent esta clase se refiere a los botones que tiene las operaciones basicas */
/*En esta clase se coloca una propiedad para que le de color a los botones  de operacion*/
.Diferent{
    background-color: #F69117;
    border:none;
}

