

/*Seccion de modo oscuro y claro*/
li{
    display: inline-block;  
}

/*se llama la clase para colocar las propiedades y valores a la clase global del modulo de claro y noche */
.switchDark{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #20aad4;
    display: flex;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 800px;
}

/*se llama la clase para colocar otro color cuando el usuario pase el cursor*/

.switchDark:hover{
    background-color:#68CEFA;
}

/*se llama la clase global*/
/*se llama un selector span para referirnos al elemento que le vamos a colocar propiedades*/
.switchDark span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    color: #fff;
    background: none;
}

/*se llama la clase y se le coloca un seudoelemento para que actue despues de ese elemento*/
.switchDark::after{
    display: block;
    background: #fffbf5;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 50%;
    transition: all .5s ease;
    box-shadow: 0 0 1.5px 1.5px rgba(0, 0, 0, .5);
    content: "";
}

/*Al momento en que el usuario lo coloque modo claro el boton va hacer color yellow*/
.switchDark.active{
    background:#F6E217;
}

/*Cuando el usuario pase el cursor se va poner de color naranja*/
.switchDark.active:hover{
    background:#F69117;
}
/*el boton se va a correr*/
.switchDark.active::after{
    left: unset;
    right: 0;
}

/*se coloca propiedades en body general*/
body{
    background: #fff;
    color: #000;
}

/*se coloca selector especifico en el body de selector de diseño general*/
body.dark{
    background: #222;
    color: #fff;
}




/*Seccion de la calculadora */

