

/*Seccion de modo oscuro y claro*/
li{
    display: inline-block;  
}

/*se llama la clase para colocar las propiedades y valores a la clase global del modulo de claro y noche */
.switchDark{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #20aad4;
    display: flex;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
}

/*se llama la clase para colocar otro color cuando el usuario pase el cursor*/

.switchDark:hover{
    background-color:#68CEFA;
}

/*se llama la clase global*/
/*se llama un selector span para referirnos al elemento que le vamos a colocar propiedades*/
.switchDark span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    color: #fff;
    background: none;
}

/*se llama la clase y se le coloca un seudoelemento para que actue despues de ese elemento*/
.switchDark::after{
    display: block;
    background: #fffbf5;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 50%;
    transition: all .5s ease;
    box-shadow: 0 0 1.5px 1.5px rgba(0, 0, 0, .5);
    content: "";
}

/*Al momento en que el usuario lo coloque modo claro el boton va hacer color yellow*/
.switchDark.active{
    background:#F6E217;
}

/*Cuando el usuario pase el cursor se va poner de color naranja*/
.switchDark.active:hover{
    background:#F69117;
}
/*el boton se va a correr*/
.switchDark.active::after{
    left: unset;
    right: 0;
}



@media screen and (max-width: 420px){
    .calculadora td button{
        display:block;
        width:50px;
        height: 50px;
        font-size: 10px;
    }
    .calculadora{
        display:block;
        padding:10px;
        width:240px;
        height:420px;
        border-radius: 20px;
    }

    #resultado{
        display:block;
        font-size: 60px;
        margin-bottom: 20px;
        width:190px;
        height: 100px;
        line-height: 100px;
        border-radius: 20px;
    }    

    #resultado{
    font-size: 40px;
    }
}
/*se coloca propiedades en body general*/
body{
    background: #fff;
    color: #000;
}

/*se coloca selector especifico en el body de selector de diseño general*/
body.dark{
    background: #222;
    color: #000;
    background-image: url(/img/images.jpg);
}


/*Propiedades y valores de la calculadora */
/*se llama la clase de la calculadora */
/*En donde nos dirige que propiedades y valores debe de tener la margen de la calculadora*/
.calculadora{
    /*la caja va a tener una forma dependiendo las propiedades y valores que lo componen*/
    display:block;
    /*va a tener un margen de cero*/
    margin:0 auto;
    /*va a tener un espacion de 20px*/
    padding:20px;
    /*va a tener un color azul*/
    background-color:#2980b9;
    /*va ha tener un ancho de 300px*/
    width:300px;
    /*va ha tener un largo de 500px*/
    height:500px;
    /*el borde del elemento va tener un 25px que debe ser redondo*/
    border-radius: 25px;
}

/*propiedades y valores de los botones*/
/*se referencia los selectores que contienen los botones */
/*se llama el selector de calculadora*/
/*se llama los selectores de diseño que son las td y button*/
.calculadora td button{
    /*se coloca un bloque que contenga lo siguiente*/
    display:block;
    /*los botones debe tener un ancho de 50px mas pequeño*/
    width:60px;
    /*los botones debe tener un alto de 50px*/
    height: 60px;
    /*debe tener un tamaño de tipografia de 25px*/
    font-size: 25px;
    border-radius: 12px;
}

/*se llama el selector de id */
#resultado{
    /*se crea un bloque que contenga las siguientes propiedades*/
    display:block;
    /*el bloque debe estar centrado*/
    text-align: right;
    /*se coloco un espacion de 20px al lado izquierdo*/
    padding-right:20px ;
    /*debe de tener un tamño de 40px*/
    font-size: 50px;
    /*debe de tener un espacio en la parte inferior de 20px*/
    margin-bottom: 20px;
    /*el bloque debe tener un 250 de ancho*/
    width:240px;
    /*el bloque debe tener un 100px de largo*/
    height: 100px;
    /*un lineal de largo del 100px*/
    line-height: 100px;
    /*el bloque debe ser color blanco*/
    background-color:rgb(255, 255, 255);
    /*debe tener un borde de 20 pixelex semi redondo*/
    border-radius: 20px;

    overflow-y: scroll;

    scroll-behavior: smooth;

    font-family: Digital-7-italic;
}

@font-face {
    font-family:Digital-7-italic;
    src: url(/css/letra1.ttf);
}

.color{
    background-color: #F69117;
}



@media screen and (max-width: 768px){
    .calculadora td button{
        display:block;
        width:60px;
        height:60px;
        font-size: 30px;
    }
    .calculadora{
        display:block;
        padding:10px;
        width:280px;
        height:460px;
        border-radius: 20px;
    }

    #resultado{
        display:block;
        font-size: 30px;
        margin-bottom: 20px;
        width:220px;
        height: 90px;
        line-height: 100px;
        border-radius: 20px;
    }  
}

